.mat-mdc-raised-button.mat-primary,
.mat-mdc-raised-button.mat-accent,
.mat-mdc-raised-button.mat-warn,
.mat-mdc-unelevated-button.mat-primary,
.mat-mdc-unelevated-button.mat-accent,
.mat-mdc-unelevated-button.mat-warn,
.mdc-fab.mat-primary,
.mdc-fab.mat-accent,
.mdc-fab.mat-warn {
  color: white;
}

.mat-mdc-raised-button {
  box-shadow: $cardshadow;
}

.mat-mdc-fab,
.mat-mdc-mini-fab,
.mat-mdc-fab:hover,
.mat-mdc-fab:focus,
.mat-mdc-mini-fab:hover,
.mat-mdc-mini-fab:focus {
  box-shadow: none;
}

.mat-button-toggle-button {
  font-size: 14px;
}

@media (min-width: 768px) {
  .flex-sm-row {
    flex-direction: row !important;
  }
}

.flex-column {
  flex-direction: column;
}

.mat-mdc-mini-fab:hover .mat-mdc-button-persistent-ripple::before {
  opacity: 0.2 !important;
}

.mat-mdc-mini-fab.mat-inherit {
  background-color: transparent !important;
}

.button-card{
  display: flex;
  align-items: center;
  margin: 3px;
  padding: 3px;
  width: 80px;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  cursor:pointer;
}


.viwe-more-link{
  display: inline-block;
  padding: 10px 20px;
  color: #e45555;
  font-size: 18px;
  cursor:pointer;

}

.viwe-more-link:hover{
  color: #e40041;
}

.page-button{
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 10;
  border: 0;
  color: #fde829;
   background: #2e2e2e96;
   padding: 5px;
   border-radius: 50%;
}

.left{
  left: 10px;
}

.right{
  right: 10px;
}