@if(!loading){

<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title class='text-primary'>{{'listing'|translate}}</mat-card-title>

    <div class="d-flex flex-wrap justify-content-center" style="gap: 20px; ">
      <ng-container *ngFor="let element of paginatedListing">
        <mat-card class="rounded-pull d-flex flex-column"  style="width: 340px;  overflow: hidden;">
          <mat-card-header class="p-0">
            <div class="d-flex align-items-center p-0 m-0">
              <img mat-card-image
                [src]="element.photos[0]"
                alt="room"
                class="card-image"
              />

            </div>
          </mat-card-header>

          <mat-card-content style="flex: 1;">

            <mat-card-title >
              {{ element.title }}
            </mat-card-title>


            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">${{ element.price }}</span>
            </h6>


            <h6 class="mat-body-1 f-s-16 ">
              <span class="text-dark me-4 f-w-600">{{ element.address.country }}</span>
              <a class="viwe-more-link" (click)="goToDetails(element._id)"> view more </a>
            </h6>
          </mat-card-content>

          <mat-card-actions class="d-flex align-self-end">
              <button class="button-card bg-error  " (click)="deleteroom(element._id)" >
                <mat-icon>delete</mat-icon>
                <span>{{"Delete" | translate}}</span>
              </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
    <mat-paginator style="display: flex; align-items: center; justify-content: center;"
[length]="dataSource1.length"
[pageSize]="pageSize"
[pageSizeOptions]="[3, 6, 9]"
[showFirstLastButtons]=true
(page)="onpagechange($event)">
</mat-paginator>
  </mat-card-content>
</mat-card>
}


@if(loading){
  <div class="d-flex justify-content-center">
    <app-spinner></app-spinner>
  </div>
}
