@if(!loading){

<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title class='text-primary'>{{"Details.Room Details"|translate}}</mat-card-title>

      <ng-container *ngIf="listing">
        <mat-card-title >
          {{ listing.title ||'' }}
        </mat-card-title>

        <mat-card class="image-card" style="width: 100%; overflow: hidden;">
            <button class="page-button left" (click)="previous()" ><mat-icon>arrow_back_ios_new</mat-icon></button>

               <!-- <div *ngFor="let photo of listing.photos"> -->
              <img mat-card-image
                [src]="getCurrentPhoto()"
                alt="room"
                class="card-image"
              />
            <!-- </div> -->
           <button class="page-button right" (click)="next()" ><mat-icon>arrow_forward_ios</mat-icon></button>
          </mat-card>

          <mat-card-content >

            <h6 class="mat-body-1 f-s-16  text-primary border-down-room">
              {{"Details.category"|translate}}:
              <span class="text-dark f-w-600">{{ listing.category.technicalName || '' }}</span>
            </h6>

            <h6 class="mat-body-1 f-s-16  text-primary border-down-room">
              {{"Details.Description"|translate}}:
             <span class="text-dark f-w-600">{{ listing.description ||''}}</span>
            </h6>

            <h6 class="mat-body-1 f-s-16  text-primary border-down-room">
              {{"Details.price"|translate}}:
              <span class="text-dark f-w-600">${{ listing.price ||''}}</span>
             </h6>

             <h6 class="mat-body-1 f-s-16  text-primary border-down-room">
              {{"Details.address"|translate}}:
              <span class="text-dark f-w-600">{{listing.address.street ||''}},{{listing.address.city ||''}},{{ listing.address.country ||''}}</span>
             </h6>

             <h6 class="mat-body-1 f-s-16  text-primary border-down-room">
              <span class="text-dark f-w-600">{{"Details.beds"|translate}}: {{listing.beds ||''}}, {{"Details.bedrooms"|translate}}: {{listing.bedrooms ||''}},{{"Details.bathrooms"|translate}}: {{ listing.bathrooms ||''}}</span>
             </h6>

             <h6 class="mat-body-1 f-s-16  text-primary border-down-room">
              Amenities:
              <ul>
                <li *ngFor="let amenity of listing.amenities">
                  <span class="text-dark f-w-600">{{ amenity.name.en }}</span>
                </li>
              </ul>             </h6>

             <h6 class="mat-body-1 f-s-16  text-primary border-down-room">
              {{"Details.guests"|translate}}:
              <span class="text-dark f-w-600"> {{ listing.guests ||''}}</span>
             </h6>

             <h6 class="mat-body-1 f-s-16  text-primary border-down-room">
              {{"Details.owner"|translate}}:
              <span class="text-dark f-w-600"> {{ listing.owner.firstName || "--" }} {{ listing.owner.lastName || "--" }}</span>
             </h6>


              <div id="map" class='m-4'></div>


          </mat-card-content>

          <mat-card-actions class="m-0">
              <button class="button-card bg-error "  (click)="deleteroom(listing._id)">
                <mat-icon>delete</mat-icon>
                <span>{{"Delete"|translate}}</span>
              </button>
          </mat-card-actions>
        <!-- </mat-card> -->
      </ng-container>
  </mat-card-content>
</mat-card>
}

@if(loading){
  <div class="d-flex justify-content-center">
    <app-spinner></app-spinner>
  </div>
}
