<div class="row">
  <div class="col-lg-6">
    <app-revenue-forecast></app-revenue-forecast>
  </div>
  <div class="col-lg-6">
    <app-listng-category></app-listng-category>

    
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-12"> 
       <!-- <app-new-customers></app-new-customers> -->
           <app-revenue-product></app-revenue-product>
     </div>
     <div class="col-12">
       <app-total-income></app-total-income>
     </div>
   </div>
  </div>
  <div class="col-lg-6">
    <!-- <app-daily-activities></app-daily-activities> -->
    <app-heatmap></app-heatmap>
  </div>
  <!-- <div class="col-12">
    <app-blog-card></app-blog-card>
  </div> -->
</div>
