
@if (!loading) {

    <mat-card class="cardWithShadow">
        <mat-card-content>
          <div class="d-flex justify-content-between  m-b-10">
            <mat-card-title class='text-primary'>{{'User.admins'|translate}}</mat-card-title>
            <button mat-stroked-button (click)="addAdmin()" class="addAdmin">
              <span>{{'User.addAdmin'|translate}}</span>
            </button>
          </div>
          <div class="d-flex flex-wrap justify-content-center" style="gap: 20px; ">
            <ng-container *ngFor="let element of paginatedListing">
              <mat-card class="rounded-pull"  style="width: 340px;  overflow: hidden;">
                <mat-card-header class="p-0">
                  <div class="d-flex align-items-center p-0 m-0">
                    <img mat-card-image
                      [src]="element.image"
                      alt="room"
                      class="card-image"
                    />
      
                  </div>
                </mat-card-header>
      
                <mat-card-content>
      
                  <mat-card-title >
                    <span>{{'User.name'|translate}}: </span>
                    {{ element.firstName +' '+ element.lastName}}
                  </mat-card-title>
    
                  <h6 class="mat-body-1 f-s-16 m-b-4">
                    <span  class="text-dark f-w-600">{{'User.email'|translate}}: </span>
                    <span class="text-dark f-w-600">{{ element.email }}</span>
                  </h6>
    
                  <h6 class="mat-body-1 f-s-16 m-b-4">
                    <span class="text-dark f-w-600">{{'User.address'|translate}}: </span>
                    <span class="text-dark f-w-600">{{ element.address.country +' - '+ element.address.city}} </span>
                  </h6>
                  <!-- {{element._id| json}} -->
                </mat-card-content>
      
                <!-- <mat-card-actions> -->
                    <!-- <button class="button-card bg-success" >
                      <mat-icon>add</mat-icon>
                      <span>Add</span>
                    </button> -->
                    <div class="d-flex justify-content-between" style="margin: 0 15px 15px 25px;">
                      <button  (click)="onEdit(element)" class="updateAndEdit" mat-stroked-button  >
                        <mat-icon>edit</mat-icon>
                                                <span>{{'Edit'|translate}}</span>
<!--                         <span>Edit</span> -->
                      </button>
                      <button (click)="removeUser(element._id!)" class=" updateAndEdit" mat-stroked-button  >
                        <mat-icon>delete</mat-icon>
                                                <span>{{'Delete'|translate}}</span>
<!--                         <span>Delete</span> -->
                      </button>
                    </div>
                <!-- </mat-card-actions> -->
              </mat-card>
            </ng-container>
          </div>
          <mat-paginator style="display: flex; align-items: center; justify-content: center;"
      [length]="dataSource1.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[3, 6, 9]"
      [showFirstLastButtons]=true
      (page)="onpagechange($event)">
      </mat-paginator>
        </mat-card-content>
      </mat-card>
      
}

@if (loading) {
    <div class="d-flex justify-content-center">
      <app-spinner></app-spinner>
    </div>
  }
