@if(!loading){

<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title class='text-primary'>{{'categories' | translate}}</mat-card-title>

    <div class="table-responsive">
     
      <table mat-table [dataSource]="paginatedCategories" class="w-100">

        <!-- Position Column -->
        <ng-container matColumnDef="icon">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"
          >
          {{'category.icon' | translate}}
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            <div class="d-flex align-items-center">
              <div [innerHTML]="getSanitizedSvg(element.icon)"></div>
            </div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          {{'category.name' | translate}}
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.displayName?.[currentLang] }} </span>
          </h6>          </td>
        </ng-container>

        <!-- show Column -->
        <ng-container matColumnDef="show">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
          {{'category.show' | translate}}
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
           <div>{{element.show}}</div>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="budget">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          ></th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onAddCategory()">
                <mat-icon>add</mat-icon>
                <span>{{'Add' | translate}}</span>
              </button>
              <button mat-menu-item (click)="onEditCategory(element)">
                <mat-icon>edit</mat-icon>
                <span>{{'Edit' | translate}}</span>
              </button>



              <button mat-menu-item (click)="onDeleteCategory(element._id)">
                <mat-icon>delete</mat-icon>
                <span>{{'Delete' | translate}}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
    </div>

    <mat-paginator style="display: flex; align-items: center; justify-content: center;"
    [length]="categories.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]=true
    (page)="onPageChange($event)">
    </mat-paginator>

  </mat-card-content>

</mat-card>
}

@if(loading){
  <div class="d-flex justify-content-center">
    <app-spinner></app-spinner>
  </div>
}




